workflows /ai_payment_notebook.json
{
  "name": "AI payment notebook",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\nplease tape the date DD/MM/YYYY\nyou got this today's date : {{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant \n{{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        -16
      ],
      "id": "8b8ba296-2a74-4cfb-aac7-dd147d3f8593",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        -16
      ],
      "id": "78ead8db-e7bf-41cb-9989-b2e9a4192e00",
      "name": "Telegram Trigger",
      "webhookId": "86b6d9a5-9b6a-4636-affb-43854c37541f",
      "credentials": {
        "telegramApi": {
          "id": "3BVKODiGMJhmJftn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AoPHSdoUmscPwpS2C9U-zZS4OZvW-tJr9qG1wPO-pjk",
          "mode": "list",
          "cachedResultName": "Payments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AoPHSdoUmscPwpS2C9U-zZS4OZvW-tJr9qG1wPO-pjk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AoPHSdoUmscPwpS2C9U-zZS4OZvW-tJr9qG1wPO-pjk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount', ``, 'string') }}",
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        496,
        176
      ],
      "id": "78b61610-7b35-4cc9-a284-8c17c73ccb83",
      "name": "Payment notebook",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nYOkoTMGNxUO7zuH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -16
      ],
      "id": "de55493f-99c3-4f1b-82e8-6f6d07816b6a",
      "name": "Send a text message",
      "webhookId": "4749a5e4-00b9-442f-851e-2a9bc21bbad1",
      "credentials": {
        "telegramApi": {
          "id": "3BVKODiGMJhmJftn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.message_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        240
      ],
      "id": "a7c12b11-80c4-4327-8a53-e6de86ed5456",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        192
      ],
      "id": "59918f38-b913-49d1-803e-0481d0366724",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KnOVBbeil4cwV65V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment notebook": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Africa/Tunis",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "74cc49f8-d68b-4528-af71-295e9781de43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17dd1dbdb6b8e8580564fa6ee321a6c223a6cb3b31b8fe6fa3125560e8642ada"
  },
  "id": "11lLlTrtHCtXk2zd",
  "tags": []
}
